body{
    display: grid;
    justify-content: center;
    background-color: rgb(63, 110, 172);
    margin-top: 100px;
}
main{
    display:grid;
    grid-template-rows: repeat(6,60px) ;
    background-color: aliceblue;
    padding: 40px;
}
.title{
   font-weight: bold;
   text-align: center;
   font-size: 1.8em;
   color:rgb(47, 53, 52)
}
.password{
    font-size:1.6em ;
    color: red;
    letter-spacing: 1px;
    text-align: center;
}
